$fa-font-path: "~font-awesome/fonts";

// Defined variables
$base-white: #fff !default;
$base-black: #000 !default;
$base-color: $base-white !default;
$base-background: #505050 !default;

$base-spacing: 4px !default;
$base-spacing-extra-small: 4px !default;
$base-spacing-small: $base-spacing * 2 !default;
$base-spacing-medium: $base-spacing * 4 !default;
$base-spacing-large: $base-spacing * 6 !default;
$base-spacing-extra-large: $base-spacing * 8 !default;

// Foundation variables overrides
$contrast-warnings: false;
$body-font-color: $base-color;
$body-font-family: Century Gothic, Arial, sans-serif;
$topbar-background: none;
$table-background: transparent;

$accordion-item-color: $base-white;
$accordion-background: transparent;
$accordion-content-background: transparent;

$label-radius: 2px;
$label-color-alt: #2f4f4f;
$label-palette: (
  secondary: #d0d0d0
);
