
.blog {
  padding-top: 2rem;

  .section {
    margin-top: $base-spacing-extra-large;

    h2 {
      margin: 3rem 0 2rem 0;
    }

    h3,
    h4 {
      margin: 2rem 0 1rem 0;
    }
  }

  .card-title {
    color: #6495ed;
  }
}
