.home {
  .section {
    h1,
    h2 {
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 4rem;
    }
  }

  #skills {
    background: #fff;
  }

  #work {
    background: #eee;
  }

  #blog {
    background: #eee;

    button {
      border-radius: 3px;
    }
  }

  #publication {
    background: #fff;
  }
}

.profile {
  color: $base-white;
  padding-top: 10rem;
  padding-bottom: 10rem;

  .occupation {
    font-size: 18px;
  }

  .social-icons {
    font-size: 25px;

    a {
      color: $base-white;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.skills-container {
  color: $base-black;

  img {
    width: 80px;
    height: 80px;
  }

  .skills-name {
    font-size: 18px;
  }

  .skills-list {
    font-size: 15px;
    color: #555;
  }
}

.project-detail {
  .project-main {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: auto;

    img {
      width: 100%;
      border: 1px solid $base-white;
      border-radius: 5px;
    }

    .project-desc {
      @include media-breakpoint-down(sm) {
        margin-top: $base-spacing-medium;
      }

      .project-title {
        font-size: 18px;
      }

      .project-body {
        font-size: 15px;
      }
    }
  }
}

.publication-container {
  color: $base-black;

  .data-table {
    width: auto;
    margin-left: auto;
    margin-right: auto;

    .data-heading {
      th {
        border-bottom: 1px solid $base-black;
      }
    }
  }
}
