@import "global";
@import "nav";
@import "home";

body {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  font-size: $base-font-size;
}

body,
html {
  height: 100%;
}

.background-base {
  background-image: url("/images/background.jpeg");
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

#root {
  position: relative;
}

.page {
  padding-left: 10rem;
  padding-right: 10rem;
}

.section {
  height: auto;
  padding: 5rem;

  @include media-breakpoint-down(md) {
    padding: 2rem;
  }
}

.footer {
  background: #ebecf2;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: $base-medium-gray;
}

.not-found {
  h1 {
    font-size: 100px;
  }

  button {
    border-radius: 3px;
  }
}
