@import "global";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $base-color;
}

body,
html {
  height: 100%;
}

#root {
  // background-image: url(../../images/background.jpg);
  background-color: #c0c0c0;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.top-bar {
  ul[data-dropdown-menu] li {
    a {
      color: $base-color;
      font-weight: bold;

      // &.active span {
      //   border-bottom: 1px solid $base-color;
      // }
    }
  }
}

.content {
  margin-top: 50px;
}

.profile {
  margin-top: 15%;

  .social-icons {
    font-size: 25px;
  }
}

.project-container {
  img {
    width: max-content;
  }

  .card {
    height: 360px;

    img {
      min-height: 250px;
      height: 250px;
    }
  }
}

.data-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  thead {
    color: $base-color;
  }

  .data-heading {
    th {
      border-bottom: 1px solid #000;
    }
  }
}
