@import "global";

body {
  margin: 0;
  padding: 0;
  font-family: $base-font;
}

body,
html {
  height: 100%;
}

.background-base {
  background-image: url("/images/background.jpg");
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  position: relative;
}

.top-bar {
  position: fixed;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  transition: all 1s;

  @include breakpoint (medium down) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .signature-icon {
    background-image: url("/images/favicon.png");
    width: 50px;
    height: 50px;
    border: 2px solid $base-white;
    border-radius: 50%;
    background-size: cover;
  }

  .dropdown li {
    a {
      color: $base-white;
      font-weight: bold;
      margin-right: $base-spacing-small;

      @include breakpoint(medium down) {
        margin-right: 0;
        padding-left: 0;
      }

      &.active,
      &:hover {
        span {
          border-bottom: 2px solid $base-white;
        }
      }
    }
  }

  &.scroll-motion {
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

    .signature-icon {
      background-image: url("/images/favicon-black.png");
      border: 2px solid #555;
    }

    .dropdown li {
      a {
        color: #555;

        &.active,
        &:hover {
          span {
            border-bottom: 2px solid #555;
          }
        }
      }
    }
  }
}

.content {
  .section {
    height: auto;
    padding: 7rem 10rem 7rem 10rem;

    @include breakpoint (medium down) {
      padding: 2rem;
    }

    h2 {
      text-align: center;
      margin-bottom: 5rem;
    }
  }

  #skills {
    background: #ccc;
  }

  #work {
    background: #edeeef;
  }

  #publication {
    background: #fff;
  }

  #footer {
    background: #ccc;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.not-found {
  h1 {
    font-size: 100px;
  }

  button {
    border-radius: 3px;
  }
}

.profile {
  color: $base-white;
  padding-top: 10rem;
  padding-bottom: 10rem;

  .occupation {
    font-size: 18px;
  }

  .social-icons {
    font-size: 25px;

    a {
      color: $base-white;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.skills-container {
  color: $base-black;

  img {
    width: 80px;
    height: 80px;
  }

  .skills-name {
    font-size: 18px;
  }

  .skills-list {
    font-size: 15px;
    color: #555;
  }
}

html.is-reveal-open {
  position: initial;
}

.project-container {
  .card {
    border-radius: 5px;
    height: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s;

    a {
      height: 100%;
    }

    .card-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      opacity: 0.8;
      height: 300px;
      border: 1px solid $base-white;
      border-radius: 5px 5px 0 0;
    }

    .card-section {
      color: $base-black;
    }

    &:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    }
  }

  .project-detail {
    .project-main {
      padding-top: 2rem;
      padding-bottom: 2rem;
      height: auto;

      img {
        width: 100%;
        height: 100%;
        border: 1px solid $base-white;
        border-radius: 5px;
      }
    }
  }
}

.publication-container {
  color: $base-black;

  .data-table {
    width: auto;
    margin-left: auto;
    margin-right: auto;

    .data-heading {
      th {
        border-bottom: 1px solid $base-black;
      }
    }
  }
}

.footer-container {
  color: #555;
}
