@import "global";

body {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  color: $base-color;
}

body,
html {
  height: 100%;
}

.background-base {
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

.background-filter {
  background: $base-background;
  opacity: 0.6;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

#root {
  position: relative;
}

.top-bar {
  .top-bar-left .signature-icon {
    width: 50px;
    height: 50px;
    border: 2px solid $base-white;
    border-radius: 50%;
  }

  ul[data-dropdown-menu] li {
    a {
      color: $base-color;
      font-weight: bold;

      &.active,
      &:hover {
        span {
          border-bottom: 2px solid $base-white;
        }
      }
    }
  }
}

.content {
  margin-top: 50px;
}

.profile {
  margin-top: 10%;

  .occupation {
    font-size: 18px;
  }

  .social-icons {
    font-size: 25px;

    a {
      color: $base-white;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.project-container {
  .card {
    height: 450px;
    background: transparent;

    @include breakpoint(small down) {
      height: 100%;
    }

    img {
      width: 100%;

      @include breakpoint(medium up) {
        height: 250px;
      }
    }

    &:hover {
      opacity: 0.8;
    }

    .card-section {
      color: $base-white;
      font-weight: bold;
    }
  }

  .project-detail {
    ::-webkit-scrollbar {
      width: 7px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: $base-white;
    }

    border: 1px solid $base-white;

    .project-main {
      @include breakpoint(medium up) {
        height: 320px;
      }

      img {
        width: 100%;
        height: 100%;
      }

      .project-desc {
        height: 250px;
        overflow: auto;
      }
    }

    .back-icon,
    .pagination-icon {
      font-size: 30px;
      color: $base-white;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.data-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  thead {
    color: $base-white;
  }

  .data-heading {
    th {
      border-bottom: 1px solid $base-white;
    }
  }
}
